name: CI

on:
  push:
  pull_request:

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install -r requirements-dev.txt
          python -m pip install -e core/
          python -m pip install -e packages/askpanda_atlas/
          python -m pip install -e packages/askpanda_epic/
          python -m pip install -e packages/askpanda_verarubin/

      - name: flake8
        run: |
          flake8 .

      - name: pydocstyle
        run: |
          pydocstyle .

      - name: pyright
        run: |
          pyright
